{
  "openapi": "3.0.3",
  "info": {
    "title": "AccuRanker REST API v4",
    "version": "4.0.0",
    "description": "Unified AccuRanker Read + Write API v4. Sourced from app.accuranker.com/api/read-docs and /api/write-docs (Swagger 2.0 + OpenAPI 3.0 originals). Includes 21 endpoints across accounts, brands, prompts, domains, keywords, ranks, landing pages, tags, groups, async keyword jobs.\n\n**Key behaviours:**\n- Read endpoints REQUIRE the `fields` query parameter (GraphQL-like dot notation) or responses are empty objects.\n- `period_from` and `period_to` query parameters scope historical data and are capped at 100 days per request.\n- Dynamic filter DSL is available via POST body on list endpoints (100+ filter dimensions, 13+ comparators).\n- Rate limits: 100 req/min, max 4 concurrent connections per IP.\n- Plan-tier gates: LLM endpoints (brands/prompts) and overview endpoints return 200 with `{\"error\": ...}` or `{\"message\": ...}` when the caller's plan does not include them."
  },
  "servers": [
    {
      "url": "https://app.accuranker.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v4/accounts/": {
      "get": {
        "operationId": "list_accounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Historical window start (YYYY-MM-DD, inclusive). Pair with period_to. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Historical window end (YYYY-MM-DD, inclusive). Pair with period_from. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "accounts_create",
        "summary": "Handle POST requests to list endpoints.",
        "description": "POST with filters in body is equivalent to GET with filters.\nThis enables complex filter queries without URL length limitations.\n\nExpected body format:\n{\n    \"filters\": [\n        {\"name\": \"rank\", \"comparator\": \"lt\", \"value\": 10},\n        {\"name\": \"keyword\", \"comparator\": \"contains\", \"value\": \"test\"}\n    ],\n    \"operator\": \"and\"\n}",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "GraphQL-like field projection (dot notation). EXAMPLE: 'id,keyword,ranks.rank,ranks.created_at'. Without this parameter the response items are empty objects {}.",
            "schema": {
              "type": "string"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Historical window start (YYYY-MM-DD, inclusive). Pair with period_to. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Historical window end (YYYY-MM-DD, inclusive). Pair with period_from. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/accounts/{id}/": {
      "get": {
        "operationId": "get_account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this organization.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Historical window start (YYYY-MM-DD, inclusive). Pair with period_to. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Historical window end (YYYY-MM-DD, inclusive). Pair with period_from. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/brands/": {
      "get": {
        "operationId": "list_brands",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainLLM"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_brands_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainLLM"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/brands/{brands_pk}/prompts/": {
      "get": {
        "operationId": "list_prompts",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of keywords. For requests containing full_serp, the limit is 500 total keyword days. Meaning you can request 500 keywords for 1 day, or 1 keyword for 500 days, or a combination in between. For example, 4 keywords for 6 days is 24 keyword days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_prompts_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of keywords. For requests containing full_serp, the limit is 500 total keyword days. Meaning you can request 500 keywords for 1 day, or 1 keyword for 500 days, or a combination in between. For example, 4 keywords for 6 days is 24 keyword days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/brands/{brands_pk}/prompts/{id}/": {
      "get": {
        "operationId": "get_prompt",
        "tags": [
          "Prompts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this prompt.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prompt"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/brands/{id}/": {
      "get": {
        "operationId": "get_brand",
        "tags": [
          "Brands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this domain name.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainLLM"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/": {
      "get": {
        "operationId": "list_domains",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_domains_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/keywords/": {
      "get": {
        "operationId": "list_keywords",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of keywords. For requests containing full_serp, the limit is 500 total keyword days. Meaning you can request 500 keywords for 1 day, or 1 keyword for 500 days, or a combination in between. For example, 4 keywords for 6 days is 24 keyword days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_keywords_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of keywords. For requests containing full_serp, the limit is 500 total keyword days. Meaning you can request 500 keywords for 1 day, or 1 keyword for 500 days, or a combination in between. For example, 4 keywords for 6 days is 24 keyword days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/keywords/{id}/": {
      "get": {
        "operationId": "get_keyword",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this keyword.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/keywords/{keyword_pk}/ranks/{search_date}/": {
      "get": {
        "operationId": "get_html",
        "tags": [
          "Serps"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "GraphQL-like field projection (dot notation). EXAMPLE: 'id,keyword,ranks.rank,ranks.created_at'. Without this parameter the response items are empty objects {}.",
            "schema": {
              "type": "string"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Historical window start (YYYY-MM-DD, inclusive). Pair with period_to. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Historical window end (YYYY-MM-DD, inclusive). Pair with period_from. Max 100 days between from/to.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-pp-required-per-endpoint": true
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Serps"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/landing_pages/": {
      "get": {
        "operationId": "list_landing_pages",
        "tags": [
          "LandingPages"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPageSerializerSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_landing_pages_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "LandingPages"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPageSerializerSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/landing_pages/{id}/": {
      "get": {
        "operationId": "get_landing_page",
        "tags": [
          "LandingPages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this landing page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPageSerializerSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{domain_pk}/tags/": {
      "get": {
        "operationId": "list_tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      },
      "post": {
        "operationId": "list_tags_with_filters",
        "description": "POST alternative to GET with filters in request body. Useful for complex filter queries.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "Saved API-filter ID (segments marked as 'API filter' in AccuRanker > Integrations > API).",
            "schema": {
              "type": "integer"
            },
            "x-pp-required-per-endpoint": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dynamic filter body. Shape: {\"filters\": [{\"name\": <filter_name>, \"comparator\": <op>, \"value\": <val>}, ...], \"operator\": \"and\"|\"or\"}. See https://app.accuranker.com/api/read-docs#section/Using-dynamic-filters.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "filters"
                ],
                "type": "object",
                "properties": {
                  "filters": {
                    "description": "Array of filter conditions",
                    "type": "array",
                    "items": {
                      "required": [
                        "name",
                        "comparator",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Filter field name (e.g., 'rank', 'keyword', 'search_volume')",
                          "type": "string"
                        },
                        "comparator": {
                          "description": "Comparison operator",
                          "type": "string",
                          "enum": [
                            "eq",
                            "ne",
                            "gt",
                            "gte",
                            "lt",
                            "lte",
                            "between",
                            "contains",
                            "not_contains",
                            "starts_with",
                            "ends_with",
                            "regex",
                            "not_regex",
                            "any",
                            "all",
                            "none",
                            "empty"
                          ]
                        },
                        "value": {
                          "description": "Filter value (any JSON type: string, number, boolean, or array depending on filter and comparator)",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "operator": {
                    "description": "Logical operator to combine filters",
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/domains/{id}/": {
      "get": {
        "operationId": "get_domain",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique integer value identifying this domain name.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated string (`?fields=id,keyword,n...`) describing the fields you wish to return on the object. For nested objects use dot notation, e.g. `domain.group.account.name`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_from",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_to",
            "in": "query",
            "required": false,
            "description": "Date in format: YYYY-MM-DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_id",
            "in": "query",
            "required": false,
            "description": "The ID of a saved API filter/segment. You can find your API filters at /app/integrations/api.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/api/v4/overview/group_domains": {
      "get": {
        "operationId": "get_group_and_domains",
        "summary": "List all your groups and their domains",
        "parameters": [
          {
            "in": "query",
            "name": "include_subaccounts",
            "schema": {
              "default": false,
              "description": "If true, it returns the accounts, groups, and domains for your subaccounts and your main account.",
              "title": "Include Subaccounts",
              "type": "boolean"
            },
            "required": false,
            "description": "If true, it returns the accounts, groups, and domains for your subaccounts and your main account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountClientDomain"
                }
              }
            }
          }
        },
        "description": "This endpoint returns a list of all accounts, groups and domains for your account. The list is based on the token provided. If you are looking for account_id, group_id or domain_id use this endpoint. Curl example:\n\n    curl -X GET \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/overview/group_domains\n    ",
        "tags": [
          "Overview"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/overview/keywords_for_domain/{domain_id}": {
      "get": {
        "operationId": "get_keyword_for_domain",
        "summary": "List all your keywords on the domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_id",
            "schema": {
              "description": "Id of the domain to get keywords for.",
              "title": "Domain Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the domain to get keywords for."
          },
          {
            "in": "query",
            "name": "keyword_contains",
            "schema": {
              "description": "(Optional) Only returns keywords that contain the value (case-insensitive).",
              "title": "Keyword Contains",
              "type": "string"
            },
            "required": false,
            "description": "(Optional) Only returns keywords that contain the value (case-insensitive)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KeywordOut"
                  },
                  "title": "Response",
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "This endpoint returns a list of all your keywords on the provided domain. Curl example:\n\n    curl -X GET \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/overview/keywords_for_domain/YOUR_DOMAIN_ID\\?keyword_contains=test\n    ",
        "tags": [
          "Overview"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/group/": {
      "post": {
        "operationId": "create_group",
        "summary": "Create a new group",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupOut"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a new group on your account. The group can only be created on accounts or subaccounts authorized by the token. Curl example:\n\n    curl -X POST \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"\"{\\\"name\\\":\\\"Group name\\\",\\\"account_id\\\":YOUR_ACCOUNT_ID}\"\" \\\n    https://app.accuranker.com/api/v4/group/\n    ",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/group/{group_id}": {
      "put": {
        "operationId": "update_group",
        "summary": "Update a group",
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "schema": {
              "description": "Id of the group you want to update",
              "title": "Group Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the group you want to update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUpdateOut"
                }
              }
            }
          }
        },
        "description": "This endpoint updates a group for your account. Only groups on accounts or subaccounts authorized by the token can be updated.\n    All fields are optional. If you leave a field out, the value will not be updated. Curl example:\n\n    curl -X PUT \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"\"{\\\"name\\\":\\\"Group name\\\",\\\"account_id\\\":YOUR_ACCOUNT_ID}\"\" \\\n    https://app.accuranker.com/api/v4/group/YOUR_GROUP_ID\n    ",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdate"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_group",
        "summary": "Delete a group",
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "schema": {
              "description": "Id of the group you want to delete",
              "title": "Group Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the group you want to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint deletes a group and all underlying domains and keywords - hence use this endpoint with caution. Curl example:\n\n    curl -X DELETE \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/group/YOUR_GROUP_ID\n    ",
        "tags": [
          "Groups"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/domain/": {
      "post": {
        "operationId": "create_domain",
        "summary": "Create a new domain",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainSchemaOut"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a new domain for your group. A domain can only be created on groups or subaccounts authorized by the token.\n    Set primary=true for a SearchSetting object you want to be primary for the domain. If the primary value is not set for any SearchSetting object,\n    the first will be assigned as primary. Curl example:\n\n    curl -X POST \\\n        -H \"Authorization: Token YOUR_API_TOKEN\" \\\n        -d \"{\\\"domain\\\":\\\"DOMAIN_URL\\\",\\\"default_searchsettings_names\\\":[{\\\"countrylocale\\\":\\\"en-GB\\\",\\\"search_engine_names\\\":[{\\\"search_engine\\\":\\\"Google\\\",\\\"search_type_names\\\":[\\\"Desktop\\\"]}],\\\"locations\\\":[\\\"Buckingham Palace, London\\\"]}],\\\"group_id\\\":YOUR_GROUP_ID}\" \\\n        https://app.accuranker.com/api/v4/domain/\n\n    ",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainSchemaValidated"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/domain/{domain_id}": {
      "put": {
        "operationId": "update_domain",
        "summary": "Update a domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_id",
            "schema": {
              "description": "Id of the domain you want to update",
              "title": "Domain Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the domain you want to update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainSchemaOut"
                }
              }
            }
          }
        },
        "description": "This endpoint updates a domain in your group. All fields are optional. If you leave a field out, the value will not be updated.\n    The exception is sub-fields to default_searchsettings_names: the entire default_searchsettings_names objects will overwrite whatever exists on the domain.\n    Set primary=true for a SearchSetting object you want to be primary for the domain. If the primary value is not set for any SearchSetting object,\n    the first will be assigned as primary. Curl example:\n\n    curl -X PUT \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"domain\\\":\\\"DOMAIN_URL\\\", \\\"display_name\\\": \\\"Domain display name\\\"}\" \\\n    https://app.accuranker.com/api/v4/domain/YOUR_DOMAIN_ID\n    ",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainSchemaUpdateValidated"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_domain",
        "summary": "Delete a domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_id",
            "schema": {
              "description": "Id of the domain you want to delete",
              "title": "Domain Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the domain you want to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint deletes a domain and all underlying keywordss - hence use this endpoint with caution. Curl example:\n\n    curl -X DELETE \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/domain/YOUR_DOMAIN_ID\n    ",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/keyword/": {
      "post": {
        "operationId": "create_keyword",
        "summary": "Create new keyword(s)",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "With this endpoint, you can create one or more keywords on a domain. Keywords can only be created on domains authorized by the token on accounts that allow keyword exceedings.\n    Go to https://app.accuranker.com/app/account to check if it is enable.\n    If no search settings are provided, the default search settings from the domain will be used.\n    This endpoint starts a job to import your keyword(s) - If you try to add existing keywords, these will be ignored. The response header 'Location' points to a specific endpoint for monitoring the progress status of your keyword job. Curl example:\n\n    curl -X POST \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"domain_id\\\": YOUR_DOMAIN_ID, \\\"keywords\\\":[\\\"keyword 1\\\", \\\"keyword 2\\\"]}\" \\\n    https://app.accuranker.com/api/v4/keyword/\n    ",
        "tags": [
          "Keywords"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordIn"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "operationId": "update_keyword",
        "summary": "Update keyword(s) settings",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint updates settings for the given keywords. Only keywords on domains authorized by the token can be updated. Curl example:\n\n    curl -X PUT \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"keyword_ids\\\":[YOUR_KEYWORD_IDS]}\" \\\n    https://app.accuranker.com/api/v4/keyword/\n    ",
        "tags": [
          "Keywords"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordSettings"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_keywords",
        "summary": "Delete a keyword",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint deletes is used to delete a keyword - hence you should use this with caution. Curl example:\n\n    curl -X DELETE \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"keyword_ids\\\":[YOUR_KEYWORD_IDS]}\" \\\n    https://app.accuranker.com/api/v4/keyword/\n    ",
        "tags": [
          "Keywords"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteKeywordInput"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/status/keyword_job/{job_id}": {
      "get": {
        "operationId": "status_keyword_job",
        "summary": "Status of keyword job",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "schema": {
              "title": "Job Id",
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "Return status of an keyword job, given a job ID. To start a job call POST or PUT /keyword.\n    Any response code other than 200 means the job is not finished or failed.\n    Response code 200 means the job is finished and the keywords should be available on your domain. Curl example:\n\n    curl -X GET \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/status/keyword_job/YOUR_JOB_ID\n    ",
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/prompt/": {
      "post": {
        "operationId": "create_prompt",
        "summary": "Create new prompt(s)",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "With this endpoint, you can create one or more prompts on a brand. Prompts can only be created on brands authorized by the token.\n    If no countrylocale is provided, the default countrylocale from the brand will be used.\n    This endpoint starts a job to import your prompt(s) - If you try to add existing prompts, these will be ignored. The response header 'Location' points to a specific endpoint for monitoring the progress status of your prompt job. Curl example:\n\n    curl -X POST \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"domain_id\\\": YOUR_DOMAIN_ID, \\\"prompts\\\":[\\\"prompt 1\\\", \\\"prompt 2\\\"]}\" \\\n    https://app.accuranker.com/api/v4/prompt/\n    ",
        "tags": [
          "Prompts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptIn"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "operationId": "update_prompt",
        "summary": "Update prompt(s) settings",
        "parameters": [],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint updates settings for the given prompts. Only prompts on domains authorized by the token can be updated. Curl example:\n\n    curl -X PUT \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"prompt_ids\\\":[YOUR_PROMPT_IDS]}\" \\\n    https://app.accuranker.com/api/v4/prompt/\n    ",
        "tags": [
          "Prompts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptSettings"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_prompts",
        "summary": "Delete a prompt",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint deletes is used to delete a prompt - hence you should use this with caution. Curl example:\n\n    curl -X DELETE \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"prompt_ids\\\":[YOUR_PROMPT_IDS]}\" \\\n    https://app.accuranker.com/api/v4/prompt/\n    ",
        "tags": [
          "Prompts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePromptInput"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/brand/": {
      "post": {
        "operationId": "create_brand",
        "summary": "Create a new brand",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandSchemaOut"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a new brand for your group. A brand can only be created on groups or subaccounts authorized by the token. Curl example:\n\n    curl -X POST \\\n        -H \"Authorization: Token YOUR_API_TOKEN\" \\\n        -d \"{\\\"domain\\\":\\\"DOMAIN_URL\\\",\\\"display_name\\\":\\\"BRAND_NAME\\\",\\\"brand_list\\\":[\\\"BRAND\\\"],\\\"default_countrylocale\\\":\\\"en-GB\\\",\\\"group_id\\\":YOUR_GROUP_ID}\" \\\n        https://app.accuranker.com/api/v4/brand/\n\n    ",
        "tags": [
          "Brands"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandSchemaValidated"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v4/brand/{brand_id}": {
      "put": {
        "operationId": "update_brand",
        "summary": "Update a brand",
        "parameters": [
          {
            "in": "path",
            "name": "brand_id",
            "schema": {
              "description": "Id of the brand you want to update",
              "title": "Brand Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the brand you want to update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandSchemaOut"
                }
              }
            }
          }
        },
        "description": "This endpoint updates a brand in your group. All fields are optional. If you leave a field out, the value will not be updated. Curl example:\n\n    curl -X PUT \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    -d \"{\\\"domain\\\":\\\"BRAND_URL\\\", \\\"display_name\\\": \\\"Brand display name\\\"}\" \\\n    https://app.accuranker.com/api/v4/brand/YOUR_BRAND_ID\n    ",
        "tags": [
          "Brands"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandSchemaUpdateValidated"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_brand",
        "summary": "Delete a brand",
        "parameters": [
          {
            "in": "path",
            "name": "brand_id",
            "schema": {
              "description": "Id of the brand you want to delete",
              "title": "Brand Id",
              "type": "integer"
            },
            "required": true,
            "description": "Id of the brand you want to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "description": "This endpoint deletes a brand and all underlying prompts - hence use this endpoint with caution. Curl example:\n\n    curl -X DELETE \\\n    -H \"Authorization: Token YOUR_API_TOKEN\" \\\n    https://app.accuranker.com/api/v4/brand/YOUR_BRAND_ID\n    ",
        "tags": [
          "Brands"
        ],
        "security": [
          {
            "ApiToken": []
          },
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "title": "ID",
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "title": "Company name",
            "description": "The name of your account/department. This will show up on reports.",
            "type": "string"
          },
          "api_filters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "title": "ID",
            "type": "integer",
            "readOnly": true
          },
          "account": {
            "$ref": "#/components/schemas/Organization"
          },
          "name": {
            "title": "Group name",
            "description": "Name of the group",
            "type": "string"
          },
          "created_at": {
            "title": "Created at",
            "type": "string",
            "format": "date"
          }
        }
      },
      "DomainLLM": {
        "type": "object",
        "properties": {
          "id": {
            "title": "ID",
            "type": "integer",
            "readOnly": true
          },
          "last_scraped": {
            "title": "Last scraped",
            "type": "string",
            "format": "date-time"
          },
          "group": {
            "$ref": "#/components/schemas/Client"
          },
          "domain": {
            "title": "Domain name",
            "description": "No http:// or www. You can enter a path that must be found. Eg. example.com/path. Search result must then begin with your path to match.",
            "type": "string"
          },
          "display_name": {
            "title": "Display name",
            "description": "This will the displayed name in the app.",
            "type": "string"
          },
          "brand_list": {
            "description": "The name(s) of the brand/company your want to monitor.",
            "type": "array",
            "items": {
              "title": "Brand list",
              "type": "string",
              "maxLength": 255,
              "x-nullable": true
            },
            "x-nullable": true
          },
          "created_at": {
            "title": "Created at",
            "type": "string",
            "format": "date"
          },
          "competitors": {
            "title": "Competitors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompetitorLLM"
            }
          },
          "history": {
            "title": "Brand History",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainLLMHistory"
            }
          }
        }
      },
      "Prompt": {
        "type": "object",
        "properties": {
          "id": {
            "title": "ID",
            "type": "integer",
            "readOnly": true
          },
          "starred": {
            "title": "Starred",
            "description": "Mark the prompt as starred",
            "type": "boolean"
          },
          "prompt": {
            "title": "Prompt",
            "description": "The actual prompt that is used as a search phrase",
            "type": "string"
          },
          "description": {
            "title": "Description",
            "description": "Description of the prompt",
            "type": "string",
            "x-nullable": true
          },
          "tags": {
            "description": "List of tags for the prompt. Used for filtering or grouping",
            "type": "array",
            "items": {
              "title": "Tags",
              "type": "string",
              "minLength": 1
            },
            "x-nullable": true
          },
          "created_at": {
            "title": "Created at",
            "type": "string",
            "format": "date"
          },
          "country_code": {
[...]
